<footer>
  <section>
    <div class="container-footer">
      <h3>Acerca de WoofWorkout</h3>
      <div class="columns-footer">
        <article>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Sobre nosotros</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contactenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Declaracion de privacidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true"
                >Terminos de servicio</a
              >
            </li>
          </ul>
        </article>
        <article>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Seguridad</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Preguntas frecuentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Redes sociales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </article>
      </div>
    </div>
  </section>
  <section class="form-footer">
    <div>
      <h3>Contactanos</h3>
      <form>
        <div class="mb-2">
          <label for="exampleInputEmail1" class="form-label"
            >Correo electronico</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-2">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Escribanos un mensaje</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="2"
          ></textarea>
        </div>
        <button
          aria-label="Start Game"
          class="mt-2 px-8 py-2 text-white font-bold text-lg rounded-full shadow-xl transition-transform transform bg-transparent border-2 border-white hover:scale-105 hover:border-black hover:shadow-black hover:shadow-2xl focus:outline-none"
          id="startButton"
        >
          Enviar
        </button>
      </form>
    </div>
  </section>
</footer>
