<footer>
  <section>
    <div class="container-footer">
      <h3>Acerca de WoofWorkout</h3>
      <div class="columns-footer">
        <article>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Sobre nosotros</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contactenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Declaracion de privacidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true"
                >Terminos de servicio</a
              >
            </li>
          </ul>
        </article>
        <article>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Seguridad</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Preguntas frecuentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Redes sociales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </article>
      </div>
    </div>
  </section>
  <section class="form-footer">
    <div>
      <h3>Contactanos</h3>
      <form>
        <div class="mb-2">
          <label for="exampleInputEmail1" class="form-label"
            >Correo electronico</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-2">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Escribanos un mensaje</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="2"
          ></textarea>
        </div>
        <button
          aria-label="Start Game"
          class="mt-2 px-8 py-2 text-white font-bold text-lg rounded-full shadow-xl transition-transform transform bg-transparent border-2 border-white hover:scale-105 hover:border-black hover:shadow-black hover:shadow-2xl focus:outline-none"
          id="startButton"
        >
          Enviar
        </button>
      </form>
    </div>
  </section>
</footer>

<div class="flex w-full items-center justify-center gap-6 p-2">
  <p
    class="block antialiased font-sans text-sm leading-normal font-normal text-inherit"
  >
    © 2024, made with Angular & Tailwind
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      aria-hidden="true"
      class="-mt-0.5 inline-block h-3.5 w-3.5"
    >
      <path
        d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"
      ></path>
    </svg>
    by
    <a
      href="https://github.com/Dev-Joshua"
      target="_blank"
      class="transition-colors hover:text-blue-500"
      >Dev-Joshua</a
    >
    Full-Stack Developer.
  </p>
</div>
