<!-- information services -->
<section class="info-section">
  <h2>Conoce mas sobre los servicios que brindamos</h2>
  <div class="grid">
    <div class="services">
      <ul>
        <li>
          <div>
            <div class="image-container">
              <img src="/assets/icons/casa.png" alt="casa" />
            </div>
            <div>
              <span>Guardería a domicilio</span>
              <p>
                Tus mascotas pasarán los dias que salgas en manos de un cuidador
                desde tu hogar. Se les hara sentir como parte de la familia
                dentro de su ambiente comfortable.
              </p>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="image-container">
              <img src="/assets/icons/perro-guia.png" alt="paseo-canino" />
            </div>
            <div>
              <span>Caminata perruna</span>
              <p>
                Tu perro sale a pasear por tu vecindario, perfecto para días
                ajetreados y perros con energia extra que requiere de caminatas
                prolongadas.
              </p>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="image-container">
              <img
                src="/assets/icons/perro-sentado.png"
                alt="entrenamiento-canino"
              />
            </div>
            <div>
              <span>Entrenamiento canino</span>
              <p>
                Adiestramiento canino a traves de un experto que entrena desde
                la comodidad de tu casa, capacitandote y brindando sesiones
                personalizadas de acuerdo a las necesidades de tu peludo.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card-info">
      <div class="head-title">
        <img src="/assets/icons/shield-dog-solid.svg" alt="shield-dog" />
        <h5>
          Reserva con cuidadores de mascotas en quien puedas
          <strong>confiar</strong>
        </h5>
      </div>
      <div class="body-list">
        <ul>
          <div>
            <img src="/assets/icons/check-solid.svg" alt="" />
            <li>
              Todos los cuidadores u entrenadores pasan por una verificación de
              antecedentes.
            </li>
          </div>
          <div>
            <img src="/assets/icons/check-solid.svg" alt="" />
            <li>
              Todos los cuidadores u entrenadores proporcionan un perfil
              detallado e información personal.
            </li>
          </div>
          <div>
            <img src="/assets/icons/check-solid.svg" alt="" />
            <li>
              Todos los cuidadores u entrenadores están aprobados por un equipo
              de especialistas.
            </li>
          </div>
        </ul>
        <div>
          <a routerLink="/app/list">
            <button
              aria-label="Start Game"
              class="px-8 py-2 text-black font-bold text-lg rounded-full shadow-xl transition-transform transform border-2 border-black hover:scale-105 hover:border-y-green-600 hover:shadow-green-500 hover:shadow-2xl focus:outline-none"
            >
              Conoce nuestros cuidadores
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
