<!-- carousel -->
<section class="carousel-section">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../assets/images/image1.jpg"
          class="d-block w-100"
          alt="image"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../assets/images/image2.jpg"
          class="d-block w-100"
          alt="image"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../assets/images/image3.jpg"
          class="d-block w-100"
          alt="image"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card-body">
    <h1 class="card-title">
      Conecta con cuidadores, paseadores y entrenadores para tus mascotas cerca
      a tu vecindario
    </h1>
    <p class="card-text">
      Reserva con cuidadores de confianza, revisa su experiencia, calificaciones
      y opiniones para que tengas la certeza de dejar a tu peludito en buenas
      manos
    </p>
    <div>
      <!-- <button class="btn btn-dark"><a href="#">Registrate</a></button> -->
      <button class="btn btn-dark">
        <a href="#">Mas información</a>
      </button>
    </div>
  </div>
</section>

<!-- services -->
<section class="services-section">
  <h2>Servicios que cumplen con las necesidades de tus mascotas</h2>
  <div class="container-cards">
    <article>
      <div>
        <img src="../assets/images/dog-walk.jpg" alt="perro-caminando" />
      </div>

      <div>
        <h4>Caminata Perruna</h4>
        <p>Tu peludito sale a pasear por tu vecindario</p>
        <a href="">Saber mas</a>
      </div>
    </article>
    <article>
      <div>
        <img src="../assets/images/garden-image.jpg" alt="" />
      </div>
      <div>
        <h4>Guardería</h4>
        <p>Para perros y gatos</p>
        <a href="">Saber mas</a>
      </div>
    </article>
    <article>
      <div>
        <img src="../assets/images/perro-training2.jpg" alt="" />
      </div>
      <div>
        <h4>Entrenamiento canino</h4>
        <p>Sesiones de entrenamiento privadas para tu amigo perruno</p>
        <a href="">Saber mas</a>
      </div>
    </article>
  </div>
</section>

<!-- information services -->
<section class="info-section">
  <h2>Conoce mas sobre los servicios que brindamos</h2>
  <div class="grid">
    <div class="services">
      <ul>
        <li>
          <div>
            <div class="image-container">
              <img src="/assets/icons/casa.png" alt="casa" />
            </div>
            <div>
              <span>Guardería a domicilio</span>
              <p>
                Tus mascotas pasarán los dias que salgas en manos de un cuidador
                desde tu hogar. Se les hara sentir como parte de la familia
                dentro de su ambiente comfortable.
              </p>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="image-container">
              <img src="/assets/icons/perro-guia.png" alt="paseo-canino" />
            </div>
            <div>
              <span>Caminata perruna</span>
              <p>
                Tu perro sale a pasear por tu vecindario, perfecto para días
                ajetreados y perros con energia extra que requiere de caminatas
                prolongadas.
              </p>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="image-container">
              <img
                src="/assets/icons/perro-sentado.png"
                alt="entrenamiento-canino"
              />
            </div>
            <div>
              <span>Entrenamiento canino</span>
              <p>
                Adiestramiento canino a traves de un experto que entrena desde
                la comodidad de tu casa, capacitandote y brindando sesiones
                personalizadas de acuerdo a las necesidades de tu peludo.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card-info">
      <div class="head-title">
        <img src="/assets/icons/shield-dog-solid.svg" alt="shield-dog" />
        <h5>
          Reserva con cuidadores de mascotas en quien puedas
          <strong>confiar</strong>
        </h5>
      </div>
      <div class="body-list">
        <ul>
          <div>
            <img src="/assets/icons/check-solid.svg" alt="" />
            <li>
              Todos los cuidadores u entrenadores pasan por una verificación de
              antecedentes.
            </li>
          </div>
          <div>
            <img src="/assets/icons/check-solid.svg" alt="" />
            <li>
              Todos los cuidadores u entrenadores proporcionan un perfil
              detallado e información personal.
            </li>
          </div>
          <div>
            <img src="/assets/icons/check-solid.svg" alt="" />
            <li>
              Todos los cuidadores u entrenadores están aprobados por un equipo
              de especialistas.
            </li>
          </div>
        </ul>
        <div class="button">
          <a href="">Conoce mas</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Instructions for use -->
<section class="instructions-section">
  <h2>
    Como conectar con cuidadores y entrenadores locales que trataran a tus
    mascotas como parte de su familia
  </h2>
  <div class="container-section-cards">
    <article>
      <img src="../assets/images/Rectangle1.png" alt="perro-caminando" />
      <div>
        <h4>1. Buscar</h4>
        <p>
          Puedes leer las reseñas verrificadas de otros dueños de mascotas y
          elejir un cuidador que sea ideal para ti y tu mascota segun tus
          necesidades.
        </p>
      </div>
    </article>

    <article>
      <img src="../assets/images/Rectangle3.png" alt="" />
      <div>
        <h4>2. Reserva</h4>
        <p>
          Puedes reservar una fecha en el calendario para guarderia, caminata o
          entrenamiento. Pagas en efectivo o por transferencia.
        </p>
      </div>
    </article>

    <article>
      <img src="../assets/images/Rectangle2.png" alt="" />
      <div>
        <h4>3. Relajate y espera</h4>
        <p>
          Tus mascotas están en buenas manos con un cuidador que tiene
          experiencia y es cariñoso con los animales.
        </p>
      </div>
    </article>
  </div>
</section>

<footer>
  <section>
    <div class="container-footer">
      <h3>Acerca de WoofWorkout</h3>
      <div class="columns-footer">
        <article>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Sobre nosotros</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contactenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Declaracion de privacidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true"
                >Terminos de servicio</a
              >
            </li>
          </ul>
        </article>
        <article>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Seguridad</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Preguntas frecuentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Redes sociales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </article>
      </div>
    </div>
  </section>
  <section class="form-footer">
    <form>
      <h4>Contacto</h4>
      <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>

      <div class="mb-2">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Example textarea</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="2"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </section>
</footer>
