.main-container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 0 8em;
  .text-login {
    width: 50%;
    .image-container {
      display: grid;
      justify-items: center;
      margin-bottom: 80px;
      img {
        height: 30vh;
        width: 100%;
        object-fit: cover;
        opacity: 0.9;
        border-radius: 5px;
      }
    }
    .text-container {
      position: relative;
      bottom: 50px;
      background: transparent;
      text-align: center;
      display: grid;
      justify-items: center;
      .text-login-ani {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
      p {
        margin-top: 20px;
        font-weight: 400;
        text-align: center;
      }
    }
  }

  .container-right {
    display: grid;
    justify-items: center;
    width: 40%;
    .form-container {
      width: 450px;
      height: 520px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 45px 30px;
      .title {
        margin-bottom: 20px;
        text-align: center;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-size: 28px;
        font-weight: 800;
      }
      p:nth-child(2) {
        font-size: 12px;
        text-align: center;
      }
      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 10px 0;
        .input {
          border-radius: 20px;
          border: 1px solid #c0c0c0;
          outline: 0 !important;
          box-sizing: border-box;
          padding: 8px 15px;
          font-size: 12px;
        }
        .page-link {
          text-decoration: underline;
          margin: 0;
          text-align: center;
          color: #747474;
          text-decoration-color: #747474;
          .page-link-label {
            cursor: pointer;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            font-size: 12px;
            font-weight: 700;
            :hover {
              color: #000;
            }
          }
        }
        .form-btn {
          margin-top: 20px;
          padding: 10px 15px;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          border-radius: 20px;
          border: 0 !important;
          outline: 0 !important;
          background: teal;
          color: white;
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          text-align: center;
          text-decoration: none;
          :active {
            box-shadow: none;
          }
        }
      }
      .sign-up-label {
        text-align: center;
        margin-top: 20px;
        font-size: 12px;
        color: #747474;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
    }
  }
}
