<ng-container *ngIf="usuario$ | async as usuario">
  <nav class="navbar navbar-expand-lg">
    <div class="navbar-logo">
      <a routerLink="/app/home"
        ><img src="/assets/images/logoWW2.png" alt="logo-icon"
      /></a>
    </div>

    <div class="container-sections">
      <div class="nav-list">
        <ul
          class="flex flex-row items-center navbar-nav me-auto mb-2 mb-lg-0"
          *ngIf="activeMenu && screenWidth >= 640"
        >
          <li class="nav-item">
            <a
              class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-green-300 hover:text-white"
              routerLink="/app/home"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-green-300 hover:text-white disabled"
              routerLink="/app/servicios"
              aria-disabled="true"
              >Servicios</a
            >
          </li>

          <li class="nav-item">
            <a
              class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-green-300 hover:text-white"
              routerLink="/app/nosotros"
              >Nosotros</a
            >
          </li>
        </ul>

        <div class="flex items-center">
          <div class="flex space-x-2">
            <button class="text-white" type="button">
              <fa-icon [icon]="faBell"></fa-icon>
            </button>
            <!-- <button class="text-white" type="button">
              <fa-icon [icon]="faInfoCircle"></fa-icon>
            </button> -->
          </div>
          <div class="profile">
            <p *ngIf="activeMenu || screenWidth > 640">{{ usuario?.email }}</p>
            <button
              type="button"
              class="flex rounded-full"
              aria-expanded="false"
              type="button"
              (click)="isOpen = !isOpen"
              cdkOverlayOrigin
              #menuOverlay="cdkOverlayOrigin"
            >
              <img
                style="object-fit: cover"
                class="w-8 h-8 rounded-full"
                [src]="usuario?.foto_usuario"
                alt="user photo"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="menuOverlay"
    [cdkConnectedOverlayOpen]="isOpen"
  >
    <div
      class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-div shadow"
    >
      <div class="py-2 px-4 text-center relative">
        <span class="block text-normal text-text font-semibold">Account</span>
        <button
          (click)="isOpen = !isOpen"
          class="block text-sm text-text absolute right-2 top-3"
        >
          <fa-icon [icon]="faClose"></fa-icon>
        </button>
      </div>
      <div class="py-3 px-4 flex items-center space-x-4">
        <img
          style="object-fit: cover"
          class="w-10 h-10 rounded-full"
          [src]="usuario?.foto_usuario"
          alt=""
        />
        <div class="space-y-1">
          <div class="text-text" *ngIf="activeMenu || screenWidth > 640">
            {{ usuario?.nombre }}
          </div>
          <div class="text-sm text-gray">{{ usuario?.email }}</div>
        </div>
      </div>
      <div class="py-1" *ngIf="listMenu && screenWidth < 640">
        <ul>
          <li>
            <a
              routerLink="/app/home"
              style="cursor: pointer"
              class="block py-2 px-4 text-sm text-text hover:bg-gray-100 dark:hover:bg-gray-600"
              >Home</a
            >
          </li>
          <li>
            <a
              routerLink="/app/servicios"
              class="block py-2 px-4 text-sm text-text hover:bg-gray-100 dark:hover:bg-gray-600"
              aria-disabled="true"
              >Servicios</a
            >
          </li>

          <li>
            <a
              routerLink="/app/nosotros"
              style="cursor: pointer"
              class="block py-2 px-4 text-sm text-text hover:bg-gray-100 dark:hover:bg-gray-600"
              >Nosotros</a
            >
          </li>
        </ul>
      </div>
      <ul class="py-1">
        <li>
          <a
            style="cursor: pointer"
            (click)="goToProfile()"
            class="block py-2 px-4 text-sm text-text hover:bg-gray-100 dark:hover:bg-gray-600"
            >Editar Perfil</a
          >
        </li>
        <li>
          <a
            style="cursor: pointer"
            (click)="goToSolicitudes()"
            class="block py-2 px-4 text-sm text-tex hover:bg-gray-100 dark:hover:bg-gray-600"
            >Solicitudes</a
          >
        </li>
        <li>
          <a
            style="cursor: pointer"
            (click)="goToMascotas()"
            class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
            >Tus mascotas</a
          >
        </li>
        <li>
          <a
            routerLink="/app/filtro-prestadores"
            class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
            >Buscar match</a
          >
        </li>
      </ul>
      <ul class="py-1">
        <li>
          <a
            style="cursor: pointer"
            class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
            (click)="confirmarEliminarCuenta()"
          >
            Eliminar Cuenta
          </a>
        </li>
        <li>
          <a
            style="cursor: pointer"
            class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
            (click)="logout()"
          >
            Cerrar sesión
          </a>
        </li>
      </ul>

      <!-- Modal de Confirmación de Eliminación -->
      <div
        *ngIf="mostrarModalEliminarCuenta"
        class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50"
      >
        <div class="bg-white p-6 rounded shadow-lg text-center">
          <h3 class="text-lg font-bold mb-4">
            ¿Estás seguro de que deseas eliminar tu cuenta?
          </h3>
          <p class="text-gray-600 mb-6">Esta acción no se puede deshacer.</p>
          <button
            (click)="deleteAccount()"
            class="bg-red-500 text-white px-4 py-2 rounded mr-2"
          >
            Eliminar
          </button>
          <button
            (click)="cancelarEliminarCuenta()"
            class="bg-gray-300 px-4 py-2 rounded"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
