<div class="container">
  <div
    class="col-md-6 mx-auto p-4 m-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray"
  >
    <button
      (click)="goToHome()"
      class="button block text-sm text-text absolute top-30 right-auto"
    >
      <fa-icon style="font-size: 22px" [icon]="faClose"></fa-icon>
    </button>
    <h2
      style="font-size: 25px; font-weight: bold"
      class="text-center mb-5 mt-5"
    >
      Editar Macota
    </h2>

    <form [formGroup]="petProfileForm" class="form" (ngSubmit)="onSubmit()">
      <div class="space-y-12">
        <div class="border-gray-900/10 pb-12">
          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-5 sm:grid-cols-6">
            <div class="sm:col-span-2">
              <label
                for="tipo_mascota"
                class="block text-sm font-medium leading-6 text-gray"
                >Tipo</label
              >
              <div class="mt-2">
                <select
                  formControlName="tipo_mascota"
                  id="tipo_mascota"
                  name="tipo_mascota"
                  class="form-select block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray sm:max-w-xs sm:text-sm sm:leading-6"
                >
                  <option>Canino</option>
                  <option>Felino</option>
                </select>
              </div>
            </div>

            <div class="sm:col-span-4">
              <label
                for="first-name"
                class="block text-sm font-medium leading-6 text-gray"
                >Nombre</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="nombre"
                  id="nombre"
                  formControlName="nombre"
                  class="form-control block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="sm:col-span-2">
              <label
                for="edad"
                class="block text-sm font-medium leading-6 text-gray"
                >Edad</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="edad"
                  id="edad"
                  formControlName="edad"
                  class="form-control block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray sm:max-w-xs sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="sm:col-span-4">
              <label
                for="raza"
                class="block text-sm font-medium leading-6 text-gray"
                >Raza</label
              >
              <div class="mt-2">
                <input
                  id="raza"
                  name="raza"
                  type="raza"
                  formControlName="raza"
                  class="form-control block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="sm:col-span-2">
              <label
                for="peso"
                class="block text-sm font-medium leading-6 text-gray"
                >Peso</label
              >
              <div class="mt-2">
                <input
                  id="peso"
                  name="peso"
                  type="number"
                  formControlName="peso"
                  class="form-control block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray sm:max-w-xs sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="sm:col-span-2">
              <label
                for="tamano"
                class="block text-sm font-medium leading-6 text-gray"
                >Tamaño</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="tamano"
                  id="tamano"
                  formControlName="tamano"
                  class="form-control block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray sm:max-w-xs sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="sm:col-span-2">
              <label
                for="sexo"
                class="block text-sm font-medium leading-6 text-gray"
                >Sexo</label
              >
              <div class="mt-2">
                <select
                  id="sexo"
                  name="sexo"
                  formControlName="sexo"
                  class="form-select block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray sm:max-w-xs sm:text-sm sm:leading-6"
                >
                  <option>Masculino</option>
                  <option>Femenino</option>
                </select>
              </div>
            </div>

            <div class="sm:col-span-2">
              <label
                for="esterilizado"
                class="block text-sm font-medium leading-6 text-gray"
                >Esterilizado</label
              >
              <div class="mt-2">
                <select
                  formControlName="esterilizado"
                  id="esterilizado"
                  name="esterilizado"
                  class="form-select block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray sm:max-w-xs sm:text-sm sm:leading-6"
                >
                  <option>Si</option>
                  <option>No</option>
                </select>
              </div>
            </div>

            <div class="sm:col-span-4">
              <label
                for="photo"
                class="block text-sm font-medium leading-6 text-gray"
                >Imagen</label
              >
              <div class="mt-2 flex items-center gap-x-3">
                <svg
                  class="h-12 w-12 text-gray"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <input
                  type="text"
                  name="foto_mascota"
                  id="foto_mascota"
                  formControlName="foto_mascota"
                  class="form-control block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray sm:max-w-xs sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="col-span-full">
              <label
                for="descripcion_mascota"
                class="block text-sm font-medium leading-6 text-gray"
                >Descripcion de tu mascota</label
              >
              <div class="mt-2">
                <textarea
                  id="descripcion_mascota"
                  name="descripcion_mascota"
                  rows="3"
                  formControlName="descripcion_mascota"
                  class="form-control block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray placeholder:text-gray sm:text-sm sm:leading-6"
                ></textarea>
              </div>
              <p class="mt-3 text-sm leading-6 text-gray">
                Describe las caracteristicas y comportamientos de tu mascota.
              </p>
            </div>

            <div class="col-span-full">
              <label
                for="info_cuidado"
                class="block text-sm font-medium leading-6 text-gray"
                >Información de sus cuidados</label
              >
              <div class="mt-2">
                <textarea
                  id="info_cuidado"
                  formControlName="info_cuidado"
                  rows="3"
                  class="form-control block w-full rounded-md border-0 py-1.5 text-gray ring-1 ring-inset ring-gray placeholder:text-gray sm:text-sm sm:leading-6"
                ></textarea>
              </div>
              <p class="mt-3 text-sm leading-6 text-gray">
                Si tu mascota padece de alguna condición, cuentanos...
              </p>
            </div>
          </div>
        </div>
        <div
          style="display: flex; width: 100%; justify-content: center"
          class="mt-6 flex items-center justify-end gap-x-6"
        >
          <button
            style="width: 50%; font-size: 16px"
            type="submit"
            class="rounded-md bg-nav px-3 py-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo"
            [disabled]="!petProfileForm.valid"
          >
            Actualizar Mascota
          </button>
        </div>
      </div>

      <!-- Modal actualizacion de mascota exitoso -->
      <div
        *ngIf="showModal"
        id="popup-modal"
        tabindex="-1"
        class="fixed inset-0 flex items-center justify-center z-50 bg-gray-800 bg-opacity-50"
      >
        <div class="relative p-4 w-full max-w-md max-h-full">
          <div
            class="relative bg-white rounded-lg shadow dark:bg-gray-700 w-full"
          >
            <button
              type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              (click)="closeModal()"
            >
              <svg
                class="w-3 h-3"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
              <span class="sr-only">Cerrar modal</span>
            </button>
            <div class="p-4 md:p-5 text-center w-full">
              <svg
                class="mx-auto mb-4 text-nav w-12 h-12 dark:text-nav"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                />
              </svg>

              <h3
                class="mb-5 font-normal text-gray-500 dark:text-gray-400 text-2xl"
              >
                Tu mascota fue actualizada con éxito
              </h3>
              <button
                type="button"
                class="text-white bg-nav hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                (click)="goToHome()"
              >
                Continuar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
