<div class="container">
  <div
    class="mx-auto max-w-md px-6 py-12 bg-white border-0 shadow-lg sm:rounded-3xl"
  >
    <button
      (click)="goToPrestadores()"
      class="button-arrow button block text-sm text-text"
    >
      <svg
        class="w-6 h-8 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14M5 12l4-4m-4 4 4 4"
        />
      </svg>
    </button>
    <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
      <h2>Solicitar Servicio</h2>
      <div class="form-group">
        <label for="mascota">Selecciona tu mascota:</label>
        <select
          formControlName="mascota_id"
          class="form-control rounded-xl border-gray-300"
          required
        >
          <option value="" disabled selected>Mascota...</option>
          <option *ngFor="let mascota of mascotas" [value]="mascota.id_mascota">
            {{ mascota.nombre }}
          </option>
        </select>
      </div>

      <div class="form-group mb-4">
        <label for="fecha">Selecciona la fecha y hora:</label>
        <input
          type="datetime-local"
          formControlName="fecha_solicitud"
          class="form-control rounded-xl border-gray-300"
          required
        />
      </div>

      <button type="submit" class="btn" [disabled]="!solicitudForm.valid">
        Solicitar Servicio
      </button>
      <!-- Modal creacion solicitud exitoso -->
      <div
        *ngIf="showModal"
        id="popup-modal"
        tabindex="-1"
        class="fixed inset-0 flex items-center justify-center z-50 bg-gray-800 bg-opacity-50"
      >
        <div class="relative p-4 w-full max-w-md max-h-full">
          <div
            class="relative bg-white rounded-lg shadow dark:bg-gray-700 w-full"
          >
            <button
              type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              (click)="closeModal()"
            >
              <svg
                class="w-3 h-3"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
              <span class="sr-only">Cerrar modal</span>
            </button>
            <div class="p-4 md:p-5 text-center w-full">
              <svg
                class="mx-auto mb-4 text-nav w-12 h-12 dark:text-nav"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                />
              </svg>

              <h3
                class="mb-5 font-normal text-gray-500 dark:text-gray-400 text-2xl"
              >
                Tu solicitud se ha creado con exito
              </h3>
              <button
                type="button"
                class="text-white bg-nav hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                (click)="goToHome()"
              >
                Continuar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
