<!-- Instructions for use -->
<section class="instructions-section">
  <h2>
    Como conectar con cuidadores y entrenadores locales que trataran a tus
    mascotas como parte de su familia
  </h2>
  <div class="container-section-cards">
    <article>
      <img src="../assets/images/Rectangle1.png" alt="perro-caminando" />
      <div>
        <h4>1. Buscar</h4>
        <p>
          Puedes leer las reseñas verrificadas de otros dueños de mascotas y
          elejir un cuidador que sea ideal para ti y tu mascota segun tus
          necesidades.
        </p>
      </div>
    </article>

    <article>
      <img src="../assets/images/Rectangle3.png" alt="" />
      <div>
        <h4>2. Reserva</h4>
        <p>
          Puedes reservar una fecha en el calendario para guarderia, caminata o
          entrenamiento. Pagas en efectivo o por transferencia.
        </p>
      </div>
    </article>

    <article>
      <img src="../assets/images/Rectangle2.png" alt="" />
      <div>
        <h4>3. Relajate y espera</h4>
        <p>
          Tus mascotas están en buenas manos con un cuidador que tiene
          experiencia y es cariñoso con los animales.
        </p>
      </div>
    </article>
  </div>
</section>
