<section class="main-container">
  <div class="text-login">
    <div class="image-container">
      <img src="/assets/images/image4.jpg" alt="fondo" />
    </div>
    <div class="text-container">
      <h1 class="text-login-ani">Bienvenido a WoofWorkout</h1>
      <p>
        Conecta con cuidadores, paseadores y entrenadores que se dedican con
        todo el amor a satisfacer las necesidades de tus mascotas
      </p>
    </div>
  </div>

  <div class="container-right">
    <div class="form-container">
      <p class="title">Iniciar Sesión</p>
      <p>Inicia sesión y accede a cualquiera de nuestros servicios</p>
      <form class="form">
        <input type="email" class="input" placeholder="Email" id="user" />
        <input
          type="password"
          class="input"
          placeholder="Password"
          id="password"
        />
        <p class="page-link">
          <span class="page-link-label">¿Olvidaste tu contraseña?</span>
        </p>
        <input
          type="button"
          class="form-btn"
          value="Acceder"
          onclick="login()"
          id="open-modal"
        />
      </form>
      <p class="sign-up-label">
        ¿No tienes una cuenta aun?
        <a href="./html/register.html">
          <span class="sign-up-link"> Registrate</span>
        </a>
      </p>
    </div>
  </div>
</section>
