<!-- <app-header /> -->
<nav class="navbar navbar-expand-lg">
  <div class="navbar-logo">
    <a routerLink="/app/home"
      ><img src="/assets/images/logoWW2.png" alt="logo-icon"
    /></a>
  </div>
</nav>

<section class="main-container">
  <div class="text-login">
    <div class="text-container">
      <h1 class="text-login-ani">¡Bienvenido a WoofWorkout!</h1>
      <p>
        Conecta con cuidadores, paseadores y entrenadores que se dedican con
        todo el amor a satisfacer las necesidades de tus mascotas
      </p>
    </div>
    <div class="image-container">
      <img src="/assets/images/image4.jpg" alt="fondo" />
    </div>
  </div>

  <div class="container-right">
    <div class="form-container">
      <p class="title">Iniciar Sesión</p>
      <p>Inicia sesión y accede a nuestros servicios</p>
      <form [formGroup]="formLogin" class="form">
        <div>
          <div class="relative">
            <input
              #nameInput
              type="email"
              class="input"
              placeholder="Ingresa tu email"
              formControlName="email"
            />
            <button
              type="button"
              class="p-2 absolute right-2"
              (click)="nameInput.focus()"
            >
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
          </div>

          <div
            *ngIf="
              formLogin.controls['email'].touched &&
              formLogin.controls['email'].invalid
            "
          >
            <p
              *ngIf="formLogin.controls['email'].hasError('required')"
              class="font-medium text-red text-xs mt-1 ml-1 text-red-600"
            >
              Este campo es obligatorio
            </p>
            <p
              *ngIf="formLogin.controls['email'].hasError('email')"
              class="font-medium text-red text-xs mt-1 ml-1 text-red-600"
            >
              Este campo debe ser un correo electrónico
            </p>
          </div>
        </div>

        <div>
          <div class="relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="input"
              placeholder="Ingresa password"
              formControlName="contrasena"
            />
            <button
              type="button"
              class="p-2 absolute right-2"
              (click)="showPassword = !showPassword"
            >
              <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              formLogin.controls['contrasena'].touched &&
              formLogin.controls['contrasena'].invalid
            "
          >
            <p
              *ngIf="formLogin.controls['contrasena'].hasError('required')"
              class="font-medium text-red text-xs mt-1 ml-1 text-red-600"
            >
              Este campo es obligatorio
            </p>
            <p
              *ngIf="formLogin.controls['contrasena'].hasError('minlength')"
              class="font-medium text-red text-xs mt-1 ml-1 text-red-600"
            >
              La contraseña debe tener al menos 6 caracteres
            </p>
          </div>
        </div>
        <div *ngIf="status === 'failed'">
          <p class="font-medium text-red text-xs mt-1 ml-1">
            Credenciales invalidas
          </p>
        </div>
        <p class="page-link">
          <span class="page-link-label">¿Olvidaste tu contraseña?</span>
        </p>
        <input
          type="button"
          class="form-btn"
          value="Acceder"
          (click)="iniciarSesion()"
          id="open-modal"
        />
        <!-- Modal de inicio de sesión exitoso -->
        <div
          *ngIf="showModal"
          id="popup-modal"
          tabindex="-1"
          class="fixed inset-0 flex items-center justify-center z-50 bg-gray-800 bg-opacity-50"
        >
          <div class="relative p-4 w-full max-w-md max-h-full">
            <div
              class="relative bg-white rounded-lg shadow dark:bg-gray-700 w-full"
            >
              <button
                type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                (click)="closeModal()"
              >
                <svg
                  class="w-3 h-3"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
                <span class="sr-only">Cerrar modal</span>
              </button>
              <div class="p-4 md:p-5 text-center w-full">
                <svg
                  class="mx-auto mb-4 text-nav h-12 dark:text-nav"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                  />
                </svg>

                <h3
                  class="mb-5 font-normal text-gray-500 dark:text-gray-400 text-2xl"
                >
                  Inicio de sesión exitoso
                </h3>
                <button
                  type="button"
                  class="text-white bg-nav hover:bg-opacity-80 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                  (click)="navigateToHome()"
                >
                  Continuar
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal de error en inicio de sesión -->
        <div
          *ngIf="showModalError"
          id="popup-modal-error"
          tabindex="-1"
          class="fixed inset-0 flex items-center justify-center z-50 bg-gray-800 bg-opacity-50"
        >
          <div class="relative p-4 w-full max-w-md max-h-full">
            <div
              class="relative bg-white rounded-lg shadow dark:bg-gray-700 w-full"
            >
              <button
                type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                (click)="closeErrorModal()"
              >
                <svg
                  class="w-3 h-3"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
                <span class="sr-only">Cerrar modal</span>
              </button>
              <div class="p-4 md:p-5 text-center w-full">
                <h3
                  class="mb-5 font-normal text-red-600 dark:text-red-400 text-2xl"
                >
                  Error en inicio de sesión
                </h3>
                <h3 class="text-gray-500 dark:text-gray-400 mb-4 text-lg">
                  Credenciales incorrectas. <br />
                  Por favor, intenta nuevamente.
                </h3>
                <button
                  type="button"
                  class="my-4 text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                  (click)="closeErrorModal()"
                >
                  Intentar nuevamente
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <p class="sign-up-label">
        ¿No tienes una cuenta aun?
        <a>
          <span class="sign-up-link" (click)="registrarse()"> Registrate</span>
        </a>
      </p>
    </div>
  </div>
</section>
