<div class="w-full h-full grow bg-white-600 p-2">
  <div class="mt-10 mb-20">
    <button
      (click)="goToHome()"
      class="button block text-sm text-text absolute top-30 right-auto"
    >
      <svg
        class="w-6 h-8 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14M5 12l4-4m-4 4 4 4"
        />
      </svg>
    </button>
  </div>
  <div class="container mx-auto" *ngIf="hasSolicitudes(); else loading">
    <table
      class="w-full text-sm text-left text-gray"
      cdk-table
      [dataSource]="dataSource"
    >
      <tr
        cdk-header-row
        class="text-xs text-gray-700 uppercase bg-gray-50"
        *cdkHeaderRowDef="columns"
      ></tr>
      <tr
        cdk-row
        class="bg-white border-b"
        [ngClass]="{ 'bg-red-200': row.price < 100 }"
        q
        *cdkRowDef="let row; columns: columns"
      ></tr>

      <!-- Id Column -->
      <ng-container cdkColumnDef="id_solicitud">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>#Id</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
          {{ row.id }}
        </td>
      </ng-container>

      <!-- Avatar Column -->
      <ng-container cdkColumnDef="fecha_solicitud">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>Fecha</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
          {{ row.fechaSolicitud | date : "short" }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container cdkColumnDef="servicio">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>Servicio</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
          {{ row.servicioNombre || "Sin servicio asingado" }}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container cdkColumnDef="mascota">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>Mascota</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
          {{ row.mascotaNombre || "Sin mascota asignadaa" }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="estado">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>Estado</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
          {{ row.estado }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="usuario">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>Usuario</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
          {{ row.clienteNombre }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="prestador">
        <th cdk-header-cell class="py-3 px-6" *cdkHeaderCellDef>Prestador</th>
        <td cdk-cell class="py-4 px-6" *cdkCellDef="let row">
          {{ row.prestadorNombre }}
        </td>
      </ng-container>
    </table>
  </div>
  <ng-template #loading>
    <div class="py-10">
      <p class="text-lg font-semibold">Cargando solicitudes...</p>
    </div>
  </ng-template>
</div>
